<!--header-->
<header>
 <h1><img src="/admin/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="http://www.baidu.com" target="_blank" class="website_icon">站点首页</a></li>
  <li><a href="#" class="admin_icon">DeathGhost</a></li>
  <li><a href="#" class="set_icon">账号设置</a></li>
  <li><a href="/loginOut" class="quit_icon">安全退出</a></li>
 </ul>
</header>

<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <ul>
  <li>
   <dl>
    <dt>添加新闻</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="#" class="active">公司新闻</a></dd>
   </dl>
  </li>
  
 </ul>
</aside>