<footer>
	<div class="w1200">
		<div class="footer_top">
			<dl>
				<dt>关于我们</dt>
				<dd><li><a href="">公司介绍</a></li></dd>
				<dd><li><a href="">企业历程</a></li></dd>
				<dd><li><a href="">企业文化</a></li></dd>
			
			</dl>
			<dl>
				<dt>产品中心</dt>
				<dd><li><a href="">全员分销</a></li></dd>
				<dd><li><a href="">联盟平台</a></li></dd>
				<dd><li><a href="">平台硬件</a></li></dd>
				<dd><li><a href="">运营服务</a></li></dd>
			</dl>
			<dl>
				<dt>新闻动态</dt>
				<dd><li><a href="">公司新闻</a></li></dd>
				<dd><li><a href="">行业动态</a></li></dd>
				<dd><li><a href="">媒体报道</a></li></dd>
			</dl>
			<dl>
				<dt>客服支持</dt>
				<dd><li><a href="">服务支持</a></li></dd>
				<dd><li><a href="">常见问题</a></li></dd>
				<dd><li><a href="">在线留言</a></li></dd>
				
			</dl>
			<dl>
				<dt>诚聘英才</dt>
				<dd><li><a href="">招聘信息</a></li></dd>
				<dd><li><a href="">福利待遇</a></li></dd>
				<dd><li><a href="">用人理念</a></li></dd>
			</dl>
			<div class="footer_right">
				<p>免费咨询热线</p>
				<h2>0755-89953100</h2>
				<div class="adds">
					<p>地址：深圳市龙岗区坂田街道长坑路东二巷五号楼二层 </p>
					
				</div>
				<p class="wx">
					<span>官方微信：loulan88shop</span>
				</p>
			</div>
		</div>
	</div>
	<div class="footer_bot">
		<span>
            Copyright ©2010 - 2016  阳航科技版权所有   All Rights Reserved. 网站ICP备案号：  法律声明
        </span>
	</div>
</footer>