<header>
	<div class="header_top">
		<div class="left">
			<i class="fa fa-phone-square"></i><span> 咨询热线 ：0755-89953100</span>
		</div>
		<div class="right">
			<span>会员分销 | 服务平台 | 运营服务</span>
		</div>
	</div>
	<div class="nav_con">
	<nav>
		<div class="logo"><span><img src="/images/logo.png" style="margin-top:12px;"></span></div>
		<div class="header_nav">
			<ul>
				<li><a href=""><i class="fa fa-home fa-2x"></i><br>网站首页</a></li>
				<li><a href=""><i class="fa fa-product-hunt fa-2x"></i><br>产品中心</a></li>
				<li><a href=""><i class="fa fa-newspaper-o fa-2x"></i><br>新闻动态</a></li>
				<li><a href=""><i class="fa fa-smile-o fa-2x"></i><br>关于我们</a></li>
			</ul>
		</div>
	</nav>
	</div>
</header>
