<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <link rel="stylesheet/less" type="text/css" href="/css/style.less">
  <script src="/javascripts/less.min.js"></script>
</head>
<body>
<% include header.html %>
<div class="banner_cont">
	<div class="banner">
		<ul class="img">
			<li><img src="/images/i1.png" alt=""></li>
			<li><img src="/images/i2.png" alt=""></li>
			<li><img src="/images/i3.png" alt=""></li>
			<li><img src="/images/i4.png" alt=""></li>
		</ul>

		
	</div>
	<ul class="num">
		<li class="on"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>	
</div>
<div class="index_pro">
	<div class="w1200">
		<div class="index_title">
			<img src="/images/in_title1.png" alt="">
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/icon_pro1.png" alt="" width="80px">
				<h2>全员分销</h2>
				<h4>国内顶尖社群UGC内容平台</h4>
			</p>
			<div class="pro_js">
				
				<div class="js_desc"><span>一起社群是基于社群的UGC内容平台，提供群内管理，娱乐等基础功能，帮助群主提升社群活跃及粘度的，利用高产和灵活的特点将内容无限放大，改变太过繁重的学习场景。</span></div>
			</div>
			<button class="js_button"><a href="">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/icon_pro1.png" alt="" width="80px">
				<h2>联盟平台</h2>
				<h4>国内顶尖社群UGC内容平台</h4>
			</p>
			<div class="pro_js">
			
				<div class="js_desc"><span>一起社群是基于社群的UGC内容平台，提供群内管理，娱乐等基础功能，帮助群主提升社群活跃及粘度的，利用高产和灵活的特点将内容无限放大，改变太过繁重的学习场景。</span></div>
			</div>
			<button class="js_button"><a href="">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/icon_pro1.png" alt="" width="80px">
				<h2>平台硬件</h2>
				<h4>国内顶尖社群UGC内容平台</h4>
			</p>
			<div class="pro_js">
	
				<div class="js_desc"><span>一起社群是基于社群的UGC内容平台，提供群内管理，娱乐等基础功能，帮助群主提升社群活跃及粘度的，利用高产和灵活的特点将内容无限放大，改变太过繁重的学习场景。</span></div>
			</div>
			<button class="js_button"><a href="">+查看更多</a></button>
		</div>
		<div class="pro_box">
			<p class="icon">
				<img id="pro_ewm" src="/images/pro_ewm.png" alt="">
				<img src="/images/icon_pro1.png" alt="" width="80px">
				<h2>运营服务</h2>
				<h4>国内顶尖社群UGC内容平台</h4>
			</p>
			<div class="pro_js">
			
				<div class="js_desc"><span>一起社群是基于社群的UGC内容平台，提供群内管理，娱乐等基础功能，帮助群主提升社群活跃及粘度的，利用高产和灵活的特点将内容无限放大，改变太过繁重的学习场景。</span></div>
			</div>
			<button class="js_button"><a href="">+查看更多</a></button>
		</div>
	</div>
</div>
<div class="index_youshi">
	<div class="w1200">
		<div class="index_title">
			<img src="/images/in_title2.png" alt="">
		</div>
		<div class="index_title2">
			<span>中国互联网社群经济行业领导者</span>
		</div>
		<div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys01.png" alt="">
        	</div>
        	<h4>一流品牌</h4>
        	<p>专注移动电商8年，百万用户的选择与信赖，与国内外众多优质渠道深度合作，强势资源覆盖全网。</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys02.png" alt="">
        	</div>
        	<h4>一流产品</h4>
        	<p>倾力打造出几款基于社群经济的现象级产品：一起社群，一起学堂，一起微商，多群直播，社群空间。</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys03.png" alt="">
        	</div>
        	<h4>一流技术</h4>
        	<p>拥有国内专业、顶尖的研发团队具备多年互联网开发经验，持续领跑移动互联网产品开发与研究领域</p>
        </div>
        <div class="youshi_box">                         
        	<div class="youshi_img">
        		<img src="/images/in_ys04.png" alt="">
        	</div>
        	<h4>一流服务</h4>
        	<p>精英客服团队，凭借优质的服务、创新进取的精神、为您提供贴心的售前、售中、售后一体化服务。</p>
        </div>

	</div>
</div>
<div class="w1200">
<div class="hezuo">
	<p class="title">
		<img src="/images/hzhb_img_03.png" alt="">
	</p>
	<div class="db">
		
			<ul>
				<li><span class="pic_box"><img src="/images/bd.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/jd.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/gg.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/wx.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/360.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/te.png" alt=""></span></li>
				<li><span class="pic_box"><img src="/images/tb.png" alt=""></span></li>
			</ul>
	
	</div>
</div>
</div>
<% include footer.html %>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/lunbo.js"></script>
</body>
</html>