<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <link rel="stylesheet/less" type="text/css" href="/css/style.less">
  <script src="/javascripts/less.min.js"></script>
</head>
<body>
<% include header.html %>
<div class="erji-header">
	<img class="erji-header-img" src="/images/lm-header.jpg" alt="">
</div>


<% include footer.html %>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/lunbo.js"></script>
</body>
</html>